{% extends '::base.html.twig' %}

{% block body %}

<div id="box" style="text-align: center">
    <div id="logo">
        <a href="{{ url('press_enter_matematicon_homepage') }}"><img width="25%" src="{{asset('img/logotipo_matematicon.png')}}" /></a>
    </div>
    <h2>Denunciar el objeto publicado:"{{ shared_drawing.Drawing.title }}"</h2>
    <img id="objeto" width="80px" height="80px" src="{{ url('city_object_image', {shared_drawing_id: shared_drawing.id}) }}" />
    {% if denuncia == null %}
        {% if error %}
                <div id="login-error" class="text-error">Ingrese un motivo para poder denunciar el objeto</div>
        {% endif %}
        <form action="" method="post">
            <div class="row">
                <label for="motivo">Motivo de la denuncia</label>
                <textarea name="motivo" id="motivo" required="required"></textarea>
            </div>
            <div class="row">
                <input class="btn" type="submit" id="_submit" name="_submit" value="Denunciar" />
            </div>
        </form>
    {% else %}
        Gracias por ayudar a hacer un Matematicon mejor. El número de tu denuncia es: {{ denuncia.id }}
    {% endif %}
</div>
<div id="socalo">
    <a id="boton-condiciones-de-uso" href="{{asset('pdfs/condiciones_de_uso.pdf')}}" target="_blank">Condiciones de uso</a>
    <a id="boton-creditos" href="{{ asset('pdfs/creditos.pdf')}}" target="_blank">Créditos</a>
</div>

{% endblock %}

